body::-webkit-scrollbar { 
	border-radius: 10px
}
body::-webkit-scrollbar-track {
  background: #2b2b2b;        
}
body::-webkit-scrollbar-thumb {
  background-color: #424242;    
  border-radius: 10px;      
}
html{
	overflow-x:hidden;
}
.text1{
	color: #ffffff;
	font-size: 60px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 40px;
}
.books{
	display: flex;
	
	width:620px;
	position: relative;
	margin:0 auto;
}
book{
	text-align: center;
}
img{
	border-radius: 15px;
}
.book1_border{
	border: 5px solid;
	width: 300px;
	border-radius: 20px;
	margin-right: 20px;
	transition: all 0.3s ease;
}
.book2_border{
	border: 5px solid;
	border-radius: 20px;
	width: 300px;
	transition: all 0.3s ease;
}
.book1_border:hover{
	box-shadow: 0 0 7px 3px #f00;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.book2_border:hover{
	box-shadow: 0 0 7px 3px #f00;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.book1_text{
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	margin:1%;
}
.book2_text{
	color: #ffffff;
	font-family: sans-serif;
	text-align: center;
	margin: 1%;
}